<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title%></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/table.css">
</head>
<body>
<div class="container-fluid">
    <!--header-->
    <%- include('../../common/header.html') %>
    <!--left menu-->
    <div class="container-wrapper">
        <%- include('../../common/menu.html') %>
        <div class="content">
            <h3 class="title"><i class="iconfont">&#xe637;</i>当前位置: 文章管理>文章详情</h3>
            <div class="content-wrapper">
                <div class="container-body">
                    <h1><%= article.title%></h1>
                    <h6>
                        <span>发布时间：<%= new Date(article.start_time).toLocaleString()%></span>
                        <span>作者：<%= article.author%></span>
                        <span>来源：<%= article.source%></span>
                    </h6>
                    <div class='article-content'>
                        <%- article.content%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="/javascripts/menu.js"></script>
<script src="/javascripts/block.js"></script>
<script>
    var title = '<%= route%>'
    judeMenu(title)


</script>
</body>
</html>