<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title%></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
</head>
<body>
<div class="container-fluid">
    <!--header-->
    <%- include('../../common/header.html') %>
    <!--left menu-->
    <div class="container-wrapper">
        <%- include('../../common/menu.html') %>
        <div class="content">
            <h3 class="title"><i class="iconfont">&#xe637;</i>当前位置: banner管理>添加banner</h3>
            <div class="content-wrapper">
                <div class="container-body">
                    <form action="/banner/submitBanner" enctype="multipart/form-data" method="post" class="form">
                        <ul class="form-list">
                            <li class="form-item">
                                <label for="">名称</label>
                                <input type="text" name="title">
                            </li>
                            <li class="form-item">
                                <label for="">位置</label>
                                <select name="position" id="">
                                    <%tag.forEach(function(value){%>
                                        <option value="<%= value.id%>"><%= value.name%></option>
                                    <%})%>
                                </select>
                            </li>
                            <li class="form-item">
                                <label for="">图片</label>
                                <input type="file" name="banner" multiple="multiple">
                            </li>
                            <li class="form-item">
                                <button type="submit" class="submit">确定</button>
                                <button type="cancel">重置</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="/javascripts/menu.js"></script>
<script src="/javascripts/block.js"></script>
<script>
    var title = '<%= route%>'
    judeMenu(title)
</script>
</body>
</html>